#webform {
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-family: Arial;
}

h1 {
    font-family: 'Lobster';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#button,
#confirm-button {
    padding: 3%;
    height: 35px;
    width: 70px;
    margin-left: 20px;
}
.buttons {
    display: flex;
    margin-top: 10px;
}

#image {
    margin-bottom: 10px;
}
